<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://goo.gl/3r47DN');">
  <div class="banner-content">
    <h1>We are a white label conversational commerce platform</h1>
    <p>We set up and manage customizable high quality messaging channels through our hybrid solution of humans and chatbots </p>
    <a class="btn btn-primary btn-lg">Ask for a demo</a>
  </div>
</div>




<div class="container">

  <div class="features">

    <h1 class="text-center">Conversational Commerce rethink transactions for the mobile generation</h1>

    <div class="icons">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="text-center icon">
            <i class="fa fa-rocket"></i>
            <h2>Fully Customizable</h2>
            <p>Set up your chatbot to match 100% your brand identity</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="text-center icon">
            <i class="fa fa-comment"></i>
            <h2>Cross-platform Solution</h2>
            <p>Create your chatbot and publish it across all messaging apps</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div  class="text-center icon">
            <i class="fa fa-users"></i>
            <h2>Human Guided Chats</h2>
            <p>All chatbots have 24/7 human moderations</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div  class="text-center icon">
            <i class="fa fa-cogs"></i>
            <h2>Plugged In Your Systems</h2>
            <p>Get the transactions directly in your order management system</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <hr>

  <div class="examples">

    <h1 class="text-center">Go Where Your Customers Are</h1>
    <div class="row">

      <div class="col-xs-12 col-sm-6">

        <div class="avatars">
          <div class="avatari text-center">
            <%=image_tag("heineken-european-sales-manager.png", class: "avatar-large")%>
            <p style="padding-top: 5px;"><strong>Adam</strong></p>
            <p>Sales manager</p>
          </div>

          <%=image_tag("relationship.png", class: "avatar-large", style: "padding-bottom: 40px;")%>

          <div class="avatari text-center">
            <%=image_tag("heineken-logo.jpg", class: "avatar-large")%>
            <p><strong>Bob</strong></p>
            <p>Virtual waiter</p>
          </div>
        </div>

        <div class="set-up">
          <h3>Set up</h3>
          <p><strong>Type:</strong> Branded</p>
          <p><strong>Tone:</strong> Joyful and chill out</p>
          <p><strong>Channel:</strong> Whatsapp</p>
        </div>

        <div class="feedback">
          <h2>Feedback</h2>
          <em>"We could see that the young generation was spending all their time on their messaging apps. We heard of My A.I. vendor and we decided to give it a try. Not only our customers loves it but Bob, our virtual waiter, can crack a few jokes. He is part of the family now."</em>
        </div>

      <%= link_to t(".sign_in", default: "More details"), pages_heineken_path, class: "btn btn-primary btn-lg" %>

      </div>

      <div class="col-xs-12 col-sm-6 text-center">
        <%=image_tag("heineken-chatbot-messenger-conversation.png", width: '350')%>
      </div>

    </div>
    <hr>

    <h1 class="text-center">Open A New Sales Channel</h1>
    <div class="row">

      <div class="col-xs-12 col-sm-6">

        <div class="avatars">
          <div class="avatari text-center">
            <%=image_tag("nike-ceo.jpg", class: "avatar-large")%>
            <p style="padding-top: 5px;"><strong>Mark Parker</strong></p>
            <p>Chief Innovation Officer</p>
          </div>

          <%=image_tag("relationship.png", class: "avatar-large", style: "padding-bottom: 40px;")%>

          <div class="avatari text-center">
            <%=image_tag("nike-logo.ico", class: "avatar-large")%>
            <p><strong>Suzanne</strong></p>
            <p>Running specialist</p>
          </div>
        </div>

        <div class="set-up">
          <h3>Set up</h3>
          <p><strong>Type:</strong> Impersonate</p>
          <p><strong>Tone:</strong> Nice and calm</p>
          <p><strong>Channel:</strong> Facebook Messenger</p>
        </div>


        <h2>Feedback</h2>
        <em>"We always have a hard time coping with instore customer requests. We wanted to be able to outsource the basic questioning and order processing some how, so that our staff can focus on the real added value. The fact that customers can pay online and pick up their product right away is just the icing on the cake."</em>
      </div>

      <div class="col-xs-12 col-sm-6 text-center">
        <%=image_tag("nike-chatbot-messenger-conversation.png", width: '350')%>
      </div>
    </div>

    <hr>

    <h1 class="text-center">Improve Your Customer Experience</h1>
    <div class="row">

      <div class="col-xs-12 col-sm-6 text-center">
        <%=image_tag("gaumont-chatbot-whatsapp-conversation.png", width: '350')%>
      </div>

      <div class="col-xs-12 col-sm-6">

        <div class="avatars">
          <div class="avatari text-center">
            <%=image_tag("david-cinema.jpg", class: "avatar-large")%>
            <p style="padding-top: 5px;"><strong>David</strong></p>
            <p>Digital manager</p>
          </div>

          <%=image_tag("relationship.png", class: "avatar-large", style: "padding-bottom: 40px;")%>

          <div class="avatari text-center">
            <%=image_tag("gaumont-2.jpg", class: "avatar-large")%>
            <p><strong>Pathé Gaumont</strong></p>
            <p>Queue cutter</p>
          </div>
        </div>

        <div class="set-up">
          <h3>Set up</h3>
          <p><strong>Type:</strong> Branded</p>
          <p><strong>Tone:</strong> Friendly</p>
          <p><strong>Channel:</strong> All messaging apps</p>
        </div>


        <h2>Feedback</h2>
        <em>"Queuing was becoming a massive issue for our business. At first I was afraid of the quality of service we could get by outsourcing to a robot but it turns out My A.I. Vendor mix solution offers a safety net that we were hoping for."</em>
      </div>


    </div>

  </div>






  <hr>

  <div class="row comparing text-center">
    <div class="hidden-xs">
      <h1 style="padding-bottom: 40px;">Do You Really Need Yet Another App ?</h1>

      <div class="col-sm-4">
        <div class="rew">
          <p style="color: white; margin: 17px;">text</p>
          <p>Set up time</p>
          <p>Set up fees</p>
          <p>Monthly maintenance fees</p>
          <p>Accessibility / Exposure</p>
          <p>User experience</p>
          <p>Upgrades</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="riw">
          <div class="header">
            Developping an app
          </div>
          <p>3 to 6 months</p>
          <p>90,000 £</p>
          <p>2,500 £</p>
          <p>Sliding screen #4</p>
          <p>Yet a another interface</p>
          <p>Require customer download</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="riw">
          <div class="header">
            My A.I. Vendor
          </div>
          <p>2 weeks</p>
          <p>15,000 £</p>
          <p>1,000 £</p>
          <p>Embedded in any chat app</p>
          <p>Straight forward texting</p>
          <p>Transparent for the user</p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="newsletter" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://goo.gl/g5DRly');padding: 0;">
  <div class="banner-content text-center">
    <h1>Request an invite to our private beta</h1>
    <form action="#" class="form-inline">
      <input type="email" class="form-control" placeholder="Your email" style="margin: 20px; width: 70%">
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </div>
</div>

