<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://goo.gl/3r47DN');">
  <div class="banner-content">
    <h1>We are a white label conversational commerce platform</h1>
    <p>We set up and manage customizable high quality messaging channels through our hybrid solution of humans and chatbots </p>
    <a class="btn btn-success btn-lg">Ask for a demo</a>
  </div>
</div>




<div class="container">

<!-- Icons -->
<div class="features">
  <h1 class="text-center">Conversational Commerce rethink transactions for the mobile generation</h1>

  <div class="icons">

    <div class="text-center icon">
      <i class="fa fa-rocket" style="font-size:45px; color:#7CB67C;"></i>
      <h2>Customizable</h2>
      <p>Your chatbot is fully customizable and can match 100% your brand identity</p>
    </div>

    <div  class="text-center icon">
      <i class="fa fa-users" style="font-size:45px; color:#7CB67C;"></i>
      <h2>Human support</h2>
      <p>Instantly answering through a hybrid of AI technology and human monitoring</p>
    </div>

    <div  class="text-center icon">
      <i class="fa fa-cogs" style="font-size:45px; color:#7CB67C;"></i>
      <h2>Fully integrated</h2>
      <p>Get the transaction directly in your order management system</p>
    </div>
  </div>
</div>



<hr>



<div class="demo">
  <h1 class="text-center">Go Where Your Customers Are</h1>

  <div class="examples">

    <div class="text-center example">
      <%=image_tag("suzanne-avatar.png", class: "avatar-large")%>
      <p><strong>Suzanne</strong></p>
      <p>MyFlourist.ai</p>
      <%=image_tag("Facebook-messenger-screenshot.jpg", width: '300')%>
    </div>

    <div class="text-center example">
      <%=image_tag("jarry-avatar.png", class: "avatar-large")%>
      <p><strong>Jarry</strong></p>
      <p>MyBarman.ai</p>
      <%=image_tag("Facebook-messenger-screenshot.jpg", width: '300')%>
    </div>

    <div class="text-center example">
      <%=image_tag("bob-avatar.png", class: "avatar-large")%>
      <p><strong>bob</strong></p>
      <p>MyCinema.ai</p>
      <%=image_tag("Facebook-messenger-screenshot.jpg", width: '300')%>
    </div>

    <div class="text-center example">
      <%=image_tag("jonathan-avatar.png", class: "avatar-large")%>
      <p><strong>Jonathan</strong></p>
      <p>MyTrain.ai</p>
      <%=image_tag("Facebook-messenger-screenshot.jpg", width: '300')%>
    </div>

  </div>
</div>




<hr>


<div class="comparing text-center">
  <h1 style="padding-bottom: 40px;">Do you really need yet another app ?</h1>
  <%=image_tag("app-vs-myvendor.png", width: '1100')%>
</div>



</div>



<div class="newsletter" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://goo.gl/g5DRly');">
  <div class="banner-content text-center">
    <h1>Request an invite to our private beta</h1>
    <form action="#" class="form-inline">
      <input type="email" class="form-control" style="width: 300px" placeholder="Your email">
      <input type="submit" value="Submit" class="btn btn-success">
    </form>
  </div>
</div>

